<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title>filip tepper</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="openid.server" href="http://www.openid.pl/server" />
    <link rel="openid.delegate" href="http://filiptepper.openid.pl/" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div id="content">
      {{ content }}
    </div>
  </div>
  {% unless page.hide_analytics %}{% include google-analytics.html %}{% endunless %}
</body>
</html>